.root {
  --border-width: 2px;
  @apply bg-quaternary px-16 pt-16 pb-16 lg:pb-8 relative;
}
.content {
  @apply lg:grid z-10 relative pointer-events-none;
}
.heading {
  @apply text-quaternary text-4xl font-bold;
  text-shadow: calc(var(--border-width) * - 1) calc(var(--border-width) * -1) 0
      #fff,
    var(--border-width) calc(var(--border-width) * -1) 0 #fff,
    calc(var(--border-width) * -1) var(--border-width) 0 #fff,
    var(--border-width) var(--border-width) 0 #fff;
}
@supports (-webkit-text-stroke: 2px #fff) {
  .heading {
    -webkit-text-stroke: var(--border-width) #fff;
    text-shadow: none;
  }
}
.ol {
  counter-reset: count;
}
.h3 {
  @apply border-t border-primary relative;
}
.h3::before {
  counter-increment: count 1;
  content: '0' counter(count);
  @apply absolute left-0 text-primary font-black -mx-10 text-sm flex items-center h-full;
}
.subHeading {
  @apply pt-1 inline-block;
}

.item {
  @apply px-12 pt-8 lg:pt-4;
}
.number {
  @apply text-primary pr-2;
}

.number {
  @apply transform -translate-x-1/4 inline-block;
}
.description {
  @apply font-light;
}

.learnMore {
  @apply ml-16;
}
