.root {
  @apply relative bg-quaternary;
}
.content {
  @apply pointer-events-none relative z-10 p-16 grid;
}
.heading {
  @apply text-4xl;
}

.ol {
  counter-reset: count;
}
.h3 {
  @apply relative border-t border-primary;
}
.h3::before {
  counter-increment: count 1;
  content: '0' counter(count);
  @apply absolute left-0 -mx-10 flex h-full items-center text-sm font-black text-primary;
}
.subHeading {
  @apply inline-block pt-1;
}

.item {
  @apply pl-12 pt-8 lg:pt-4;
}
.number {
  @apply pr-2 text-primary;
}

.number {
  @apply inline-block -translate-x-1/4 transform;
}
.description {
  @apply font-light;
}

.learnMore {
  @apply ml-16;
}
